@page "/"
@inject Models.AppState AppState


<PageTitle>Home</PageTitle>

<h1>Bet Buddies</h1>

@if(user == null)
{
    <div>Du är inte inloggad</div>
}
else
{
    <div>Välkommen @user.UserName</div>
}

<div>
    <h2>Nästa tävling: Premier League Omgång 28-29</h2>
    <h3>Om Bet Buddies</h3>
    <p>
        Här kan du lägga in dina tips och tävla med familj eller vänner. Det är helt gratis att vara med och det finns inga priser, det är bara för skojs skull.
    </p>
    <p>
        Poängberäkningen fungerar enligt följande:
        <ul>
            <li>Rätt vinnare: 1 poäng</li>
            <li>Rätt antal mål för ett lag: 1 poäng</li>
            <li>Rätt målskillnad: 1 poäng</li>
            <li>Rätt resultat: 2 poäng</li>
        </ul>
    </p>
</div>
