@page "/"
@inject Models.AppState AppState


<PageTitle>Home</PageTitle>

<h1>Bet Buddies</h1>

@if(user == null)
{
    <div>Du är inte inloggad</div>
}
else
{
    <div>Välkommen @user.UserName</div>
}

<div>
    <p>
        Bet Buddies består av två olika spel. Matchtipset där man tippar resultat för varje match. Tabelltipset där man tippar hur en liga kommer sluta.
        Här kan du lägga in dina tips och tävla med familj eller vänner. Det är helt gratis att vara med och det finns inga priser, det är bara för skojs skull.
    </p>
    <p>
        <h3>Om Matchtipset</h3>
        Nästa tävling: Fotbolls VM 2026<br/>
        Poängberäkningen fungerar enligt följande:
        <ul>
            <li>Rätt vinnare: 1 poäng</li>
            <li>Rätt antal mål för ett lag: 1 poäng</li>
            <li>Rätt målskillnad: 1 poäng</li>
            <li>Rätt resultat: 2 poäng</li>
        </ul>
    </p>
    <p>
        <h3>Om Tabelltipset</h3>
        Nästa tävling: Allsvenskan 2026<br />
        Poängberäkningen fungerar enligt följande:
        Om du tippar rätt var ett lag hamnar får du noll poäng.
        Ju längre ifrån det faktiska resultatet du är desto fler poäng får du. Om du tippar att ett lag hamnar på plats 1 men det hamnar på plats 3 så får du 2 poäng.
        Det gäller att få så få poäng som möjligt.
    </p>
    <p>
        Frågor eller synpunkter info@betbuddies.se
    </p>
</div>
