@page "/"
@inject Models.AppState AppState


<PageTitle>Home</PageTitle>

<h1>Fotbolls VM 2026</h1>

@if(user == null)
{
    <div>Du är inte inloggad</div>
}
else
{
    <div>Välkommen @user.UserName</div>
}
