@page "/"
@inject Models.AppState AppState


<PageTitle>Home</PageTitle>

<h1>Fotbolls VM 2026</h1>

@if(user == null)
{
    <div>Du är inte inloggad</div>
}
else
{
    <div>Välkommen @user.UserName</div>
}

<div>
    <h3>Om Matchtipset</h3>
    <p>
        Här kan du lägga in dina tips inför fotbolls VM 2026. Det är helt gratis att vara med och det finns inga priser, det är bara för skojs skull.
    </p>
    <p>
        Poängberäkningen fungerar enligt följande:
        <ul>
            <li>Rätt vinnare: 1 poäng</li>
            <li>Rätt antal mål för ett lag: 1 poäng</li>
            <li>Rätt målskillnad: 1 poäng</li>
            <li>Rätt resultat: 2 poäng</li>
        </ul>
    </p>
</div>
